*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header{
   
    color: #8B00FF;
    padding: 15px 0px;
    border-bottom: 1px solid #8B00FF;
    background-color:white;
}
.header-nav, .nav-items{
    display: flex;
}
.header-nav{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

}
.site-logo {
    flex: 2 2 80%;
    padding: 10px 20px;
}
.site-logo {
    padding-left: 2.5mm;
}
.site-logo a{
    color: #DAA520AA;
    font-weight: bold;
    font-family:  monospace;
}
.nav-items{
    flex: 1 1 30%;
    justify-self: flex-end;
}
.nav-items_item{
    padding-left: 5mm;
align-self: center;
}
.form-items{
    padding-left: 2mm;
}
.small-items{
    color: black;
}
.user-item{
    color: violet;
    padding-left: 2mm;
    padding-top: 1mm ;
}
.message{
    padding-left: 2mm;
    color: #333;
}
.profile{
    align-content: center;
}
